.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider1 {
  background: url("https://i.ibb.co.com/DbJhKb6/Hotel-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#slider2 {
  background: url("https://i.ibb.co.com/dcHTXHf/Hotel-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#slider3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://i.ibb.co.com/d4yynHj/ticket-time.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#slider4 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://i.ibb.co.com/dPYBNB0/document-checklist.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#slider5 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://i.ibb.co.com/0CDxcWN/support.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
