@import "tailwindcss";

@theme{
  --color-primary: #007BFF;
  --color-secondary: #6C757D;
  --color-accent: #FF9800;
  --color-text: #1C1C1C;
  --color-background: #F8F9FA;

  --color-primary-dark: #1E90FF;
  --color-secondary-dark: #37474F;
  --color-accent-dark: #FFB74D;
  --color-text-dark: #E0E0E0;
  --color-background-dark: #121212;
}

@custom-variant dark (&:where(.dark, .dark *));


body {
  @apply bg-white text-black transition-colors duration-300 dark:bg-gray-900 dark:text-white;
}

.navbar a.active hr {
  display: block;
  @apply bg-primary dark:bg-primary-dark;
}
.navbar a.active {
  @apply text-primary dark:text-primary-dark;
}

.btn-primary{
  @apply px-8 py-2 bg-blue-500 text-white rounded-md;
  @apply dark:bg-blue-400;
}